body{
    background-color: grey;
}

.calculator_border{
    width: 500px;
    height: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 550px;
    
}

.input_area_container{
    width: 500px;
    height: 100px;
    border: 5px solid black;
    background-color:white;
    margin-top: -500px;
    margin-left: -10px;
}

#display{
    width: 495px;
    height: 100px;
}

.buttons{

    display: grid; /* This sets the layout to grid */
    grid-template-columns: repeat(4, 1fr); /* Defines 3 equal-width columns */
    gap: 50px; /* Defines space between grid items */
    padding: 10px; /* Adds padding around the grid */
    width: 417px;
    padding-top: 80px;
    padding-bottom: 15px;

    justify-content: center;
    align-items: center;

    margin-left: -455px;
}

.equals{
    margin-left: 100px;
}